* text=auto

*.dockerfile  linguist-detectable=true
*.dockerfile  linguist-language=Dockerfile
*.sql	        linguist-language=PLpgSQL
drop.sql	    linguist-detectable=false
insert.sql    linguist-detectable=false
